body {
  text-align: center;

}

.box {
  display: inline-block;
  height: 250px;
  width: 24%;
}
.red{
  background: red;
}
 .yellow {
   background: yellow;
 }
 .blue{
   background: blue;
 }
 .green{
   background: green;
 }

 .container{
   height: 200px;
   width: 200px;
   background-color: orange;
 }
 
@media only screen and (max-width:600px){
  .yellow, .blue {
    display: none;
  }
}

@media only screen and (min-width:1000px){
  .box {
    width: 100%
  }
}
